* {
    box-sizing: border-box;
  }

body {
  background-image: url("/knightbackground.gif");  /*got help from Glenn on this one*/
  background-size: 100%;
  font-family: "MedievalSharp", cursive;
}

#title-screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("/knightbackground.gif");
    background-size: cover;
    /* background-color: black; */
    height: 100vh;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    padding: none;
    margin: none;

    /* height: 100px;
    width: 100px; */
}

#title-header {
    /* border: 1px solid black; */
    font-size: 100px;
    margin-bottom: auto;
    color: orange;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 1s infinite alternate linear;
}



#title-subheader {
    /* border: 1px solid black; */
    font-size: 50px;
    margin-bottom: 250px;
    color: orange;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 2s infinite alternate linear;
}

#enter-button {
    background-color: transparent;
    margin-bottom: 50px;
    color: orange;
    font-size: 40px;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 2s infinite alternate linear;
    font-family: "MedievalSharp", cursive;
    cursor: pointer;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: black; */
    height: 100vh;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    padding: none;
    margin: none;
}

#title {
    /* border: 1px solid black; */
    font-size: 100px;
    margin-top: 120px;
    color: orange;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 1s infinite alternate linear;
}

#button-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    gap: 100px
}

#start-game-button, #credits-button {
    height: 150px;
    width: 250px;
    border: 5px ridge red;
    color: orange;
    background: transparent;
    font-family: "MedievalSharp", cursive;
    font-size: 40px;
    cursor: pointer;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 1s infinite alternate linear;
}

#credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    margin: 20px;
    background-color: black;
    color: white;
}

#new-game {
  font-family: "MedievalSharp", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  margin: 20px;
}

#choose-path {
  color: orange;
  font-size: 40px;
  text-shadow:
  0 3px 20px rgb(255, 0, 0),
  0 0 20px red,
  0 0 10px orange,
  4px -5px 6px yellow,
  -4px -10px 10px yellow;
  animation: animate 2s infinite alternate linear;
}

#new-game-button-container {
  /* border: 10px solid black; */
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  gap: 20px;
  
}


#go-left-button, #middle-button, #go-right-button {
    height: 150px;
    width: 250px;
    border: 5px ridge red;
    color: orange;
    background: transparent;
    font-family: "MedievalSharp", cursive;
    font-size: 40px;
    cursor: pointer;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 1s infinite alternate linear;
}

#the-middle-path{
    color: orange;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 2s infinite alternate linear;
}

#tree-button {
  border: 5px ridge rgb(44, 66, 46);
  height:200px;
  width: 200px;
  color: orange;
  background: url(/tree.png);
  background-size: cover;
  font-family: "MedievalSharp", cursive;
  font-size: 40px;
  cursor: pointer;
  text-shadow:
  0 3px 20px rgb(255, 0, 0),
  0 0 20px red,
  0 0 10px orange,
  4px -5px 6px yellow,
  -4px -10px 10px yellow;
  animation: animate 1s infinite alternate linear;
}

#swing-count-log, #log-count-log {
  font-size: 30px
}

#fire-button {
  background-color: transparent;
    margin-bottom: 50px;
    color: orange;
    font-size: 40px;
    text-shadow:
    0 3px 20px rgb(255, 0, 0),
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow;
    animation: animate 2s infinite alternate linear;
    font-family: "MedievalSharp", cursive;
    cursor: pointer;
}

#fire-game-end-prompt {
  font-size: 100px;
  margin-bottom: auto;
  color: orange;
  text-shadow:
  0 3px 20px rgb(255, 0, 0),
  0 0 20px red,
  0 0 10px orange,
  4px -5px 6px yellow,
  -4px -10px 10px yellow;
  animation: animate 1s infinite alternate linear;
}

@keyframes animate {
    0% {
        text-shadow:
          0 3px 20px red,
          0 0 20px red,
          0 0 10px orange,
          0 0 0 yellow,
          0 0 5px yellow,
          -2px -5px 5px yellow,
          4px -10px 10px yellow;
      }
      25% {
        text-shadow:
          0 3px 20px red,
          0 0 30px red,
          0 0 20px orange,
          0 0 5px yellow,
          -2px -5px 5px yellow,
          3px -10px 10px yellow,
          -4px -15px 20px yellow;
      }
      50% {
        text-shadow:
          0 3px 20px red,
          0 0 20px red,
          0 -5px 10px orange,
          -2px -5px 5px yellow,
          3 -10px 10px yellow,
          -4px -15px 20px yellow,
          2px -20px 30px rgba(255,255,0,0.5);
      }
      75% {
        text-shadow:
          0 3px 20px red,
          0 0 20px red,
          0 -5px 10px orange,
          3 -5px 5px yellow,
          -4px -10px 10px yellow,
          2px -20px 30px rgba(255,255,0,0.5),
          0 -25px 40px rgba(255,255,0,0);
      }
      100% {
        text-shadow:
          0 3px 20px red,
          0 0 20px red,
          0 0 10px orange,
          0 0 0 yellow,
          0 0 5px yellow,
          -2px -5px 5px yellow,
          4px -10px 10px yellow;
      }
    }